@font-face {
  font-family: DingTalk-JinBuTi;
  src: url('./assets/font/DingTalk-JinBuTi.woff2') format('woff2'),
       url('./assets/font/DingTalk-JinBuTi.woff') format('woff'),
       url('./assets/font/DingTalk-JinBuTi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* 优化字体加载性能 */
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif, DingTalk-JinBuTi;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
